@{
	ViewBag.Title = "С чего начать";
}

<div class="row">
	<div class="col-md-12">
		<h1>С чего начать</h1>
		<h2>Установка</h2>
		<p>
			Для работы системы понадобится компьютер с ОС Windows 7 или более поздней версии.
			Также необходимо <a href="http://www.microsoft.com/en-us/download/details.aspx?id=40779" target="_blank">скачать</a>
			и установить .NET Framework 4.5.
		</p>
		<p>
			После этого скачайте и запустите инсталлятор, котрый установит ThinkingHome.System на ваш
			компьютер. Во время установки не нужно вводить никаких параметров. Сервис будет установлен
			в папку <em>C:\Program Files (x86)\ThinkingHome\service</em>.
		</p>
		<div class="row">
			<div class="col-md-6">
				<img src="~/Content/images/installer-start.png" class="img-responsive ths-image" />
			</div>
			<div class="col-md-6">
				<img src="~/Content/images/installer-complete.png" class="img-responsive ths-image" />
			</div>
		</div>
		<p>
			После установки на рабочем столе появится ярлык <em>ThinkingHome Control Panel</em>,
			при запуске которого в браузере откроется web-интерфейс системы. Вы можете также открыть
			web-интерфейс системы, набрав в адресной строке браузера <kbd>http://localhost:41831</kbd>,
			где "localhost" - это название или IP-адрес вашего компьютера.
		</p>
		<h2>Общая информация</h2>
		<p>
			Как организован нитерфейс, добавление элементов на рабочий стол.
		</p>
		<h2>Настройка простого сценария и запуск по таймеру</h2>
	</div>
</div>
