@{
	ViewBag.Title = "С чего начать";
}

<div class="row">
	<div class="col-md-12">
		<h1>С чего начать</h1>
		<h2>Установка</h2>
		<p>
			Для работы системы понадобится компьютер с <strong>ОС Windows 7 или более поздней версии</strong>.
			Также <strong>необходимо <a href="http://www.microsoft.com/en-us/download/details.aspx?id=40779" target="_blank">скачать</a>
			и установить .NET Framework 4.5</strong>.
		</p>
		<p>
			После этого скачайте и запустите инсталлятор, котрый установит ThinkingHome.System на ваш
			компьютер. Во время установки не нужно вводить никаких параметров. Сервис будет установлен
			в папку <em>C:\Program Files (x86)\ThinkingHome\service</em>.
		</p>
		<div class="row">
			<div class="col-md-6">
				<img src="~/Content/images/installer-start.png" class="img-responsive ths-image" />
			</div>
			<div class="col-md-6">
				<img src="~/Content/images/installer-complete.png" class="img-responsive ths-image" />
			</div>
		</div>
		<p>
			После установки на рабочем столе появится ярлык <em>ThinkingHome Control Panel</em>,
			при запуске которого в браузере откроется web-интерфейс системы. Вы можете также открыть
			web-интерфейс системы, набрав в адресной строке браузера <kbd>http://localhost:41831</kbd>,
			где "localhost" - это название или IP-адрес вашего компьютера.
		</p>
		<h2>Организация веб-интерфейса</h2>
		<p>
			Интерфейс управления домом состоит из разделов. Каждый плагин может содержать несколько 
			разделов (а может содержать только один или может вообще не иметь интерфейса). Разделы 
			поделены на 2 группы: системные (различные настройки, например, раздел домашних сценариев) 
			и пользовательские (разделы, с которыми пользователи работают в повседневной жизни, например, 
			«прогноз погоды» и «будильники»).
		</p>
		<p>
			Кроме страниц разделов веб-интерфейс имеет три специальных страницы:
		</p>
		<ul>
			<li>список системных разделов;</li>
			<li>список пользовательских разделов;</li>
			<li>рабочий стол (стартовая страница).</li>
		</ul>
		<h3>Списки разделов</h3>
		<p>
			При установке новых плагинов разделы, содержащиеся в них, автоматически добавляются
			либо в пользовательский список разделов, либо в системный.
			Ссылки на списки разделов находятся в правом верхнем углу экрана и доступны постоянно.
			"Applications" - пользовательские разделы, "Settings" - системные.
			На маленьких экранах ссылки перемещаются в навигационное меню (обозначено пиктограммой:
			<span class="fa fa-bars"></span>).
		</p>
		<div class="row">
			<div class="col-md-6">
				<img src="~/Content/images/common-pages.png" class="img-responsive ths-image" />
			</div>
			<div class="col-md-6">
				<img src="~/Content/images/system-pages.png" class="img-responsive ths-image" />
			</div>
		</div>
		<h3>Рабочий стол</h3>
		<p>
			На рабочем столе находятся "элементы 
			рабочего стола" — небольшие панели, которые отображают полезную информацию. При клике на них
			мышью выполняется какое-либо действие или открывается какой-нибудь раздел.
		</p>
		<p>
			Рабочий стол открывается по основному  адресу приложения 
			(т.е. по адресу <a href="http://localhost:41831" target="_blank">http://localhost:41831</a>).
			Также в любое время вы можете перейти на рабочий стол, кликнув на пиктограмму 
			<span class="fa fa-home"></span>в левом верхнем углу экрана. 
		</p>
		<p>
			В правом верхнем углу рабочего стола расположена ссылка для перехода в режим редактирования
			его элементов. В этом режиме вы можете удалять элементы и менять их порядок, перетаскивая мышью.
		</p>
		<div class="row">
			<div class="col-md-12">
				<img src="~/Content/images/start-page-large.png" class="img-responsive ths-image" />
			</div>
		</div>
		<p>
			Как правило, плагины оперируют некоторыми сущностями. Они могут давать возможность
			выносить их на рабочий стол. Например, плагин "прогноз погоды" оперирует городами, в которых
			нужно отображать погоду. Он позволяет вынести любой из городов на рабочий стол -
			там появится специальный элемент, который будет отображать погоду в этом городе.
			Если в интерфейсе вы встретили пиктограмму <span class="fa fa-external-link-square"></span>,
			это значит, что при клике на нее будет добавлен соответствующий элемент на рабочий стол.
		</p>
		<div class="row">
			<div class="col-md-6">
				<img src="~/Content/images/forecast-tile-btn.png" class="img-responsive ths-image" />
			</div>
			<div class="col-md-6">
				<img src="~/Content/images/forecast-tile.png" class="img-responsive ths-image" />
			</div>
		</div>
		<h2>Настройка простого сценария и запуск по таймеру</h2>
	</div>
</div>
