@{
	ViewBag.Title = "С чего начать";
}

<div class="row">
	<div class="col-md-12">
		<h1>С чего начать</h1>
		<p>
			Текст раздела будет выложен в ближайшее время.
		</p>
		<h2>Установка</h2>
		<p>
			Системные требования, что скачать, процесс установки, как запустить.
		</p>
		<h2>Общая информация</h2>
		<p>
			Как организован нитерфейс, добавление элементов на рабочий стол.
		</p>
		<h2>Настройка простого сценария и запуск по таймеру</h2>
	</div>
</div>
