@{
	ViewBag.Title = "Добро пожаловать!";
}

<div class="jumbotron">
	<h1>Умный дом &mdash; это просто</h1>
	<p class="lead">
		ThinkingHome &mdash; управление домом по сценариям и через web-интерфейс.
	</p>
	<p>
		<a id="btn-download" class="btn btn-lg btn-outline-inverse" href="~/download/service-setup.msi" role="button">Скачать
		</a>
		<a id="btn-view-source" class="btn btn-lg btn-outline-inverse" href="https://github.com/dima117/thinking-home" target="_blank">Исходный код на GitHub
		</a>
	</p>
</div>

<div class="row">
	<div class="col-md-12">
		<p class="lead">
			ThinkingHome - это программа (.NET Windows service), с помощью которой вы можете
			организовать на своем компьютере управляющий центр умного дома. Сервис
			постоянно запущен на компьютере - он занимается обработкой событий и выполнением сценариев.
			Вы можете работать с сервисом через веб-интерфейс.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-1">
		<span class="fa fa-3x fa-sitemap ths-index-icon pull-right"></span>
	</div>
	<div class="col-md-5">
		<h3>Управление по сценариям</h3>
		<p>
			Система позволяет управлять домом по сценариям, т.е. назначать на различные события
			в доме произвольную логику по управлению домашними устройствами. Событие
			- это срабатывание датчика, сигнал с таймера, нажатие на кнопку или, например, получение
			сообщения в твиттере. При возникновении события запускаются сценарии - небольшие
			программы, которые могут управлять домашними устройствами. Например, сценарий может
			проверить температуру в доме и включить теплый пол, если нужно.
		</p>
	</div>
	<div class="col-md-1">
		<span class="fa fa-3x fa-tablet ths-index-icon pull-right"></span>
	</div>
	<div class="col-md-5">
		<h3>Управление через веб-интерфейс</h3>
		<p>
			Веб-интерфейс доступен с любого устройства (компьютера, планшета или смартфона), подключенного
			к вашей домашней сети. Он отображает информацию, нужную вам в повседневной жизни
			(например, расписание автобусов или прогноз погоды), а также дает возможность удаленно
			управлять вашим домом или менять настройки системы.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Как это работает?</h2>

		<p>
			<img style="margin: 40px auto;" class="img-responsive" src="~/Content/images/scheme.png"
				alt="Thinking-Home.System - система управления умным домом" />
		</p>
		<h2>Плагины</h2>
		<p>
			Система ThinkingHome имеет систему плагинов. При помощи плагинов можно расширять список 
			возможных событий в системе (например, генерировать событие при срабатывании датчика движения)
			и взаимодействовать с любыми устройствами (например, с системой nooLite) или сервисами
			(например, с сервером электронной почты).
		</p>
		<p>
			По большому счету, весь функционал системы находится в плагинах, а сервис содержит
			только инфраструктуру для их работы. Он обеспечивает загрузку плагинов и организует
			их жизненный цикл, а также предоставляет им средства для логирования, для работы
			с внутренней БД, для взаимодействия друг с другом (плагины могут подписываться на
			события друг друга и вызывать команды друг друга).
		</p>
		<p>
			Если вам не хватает в системе каких-то возможностей или нужно работать с нестандартными
			устройствами (например, с собранными самостоятельно на основер Arduino) - просто напишите
			собственный плагин для системы. Плагины могут работать с любыми устройствами и сервисам, с 
			которыми может работать компьютер. Писать собственные плагины 
			@Html.ActionLink("очень просто", "Plugins")!
		</p>
		<h3>Что дальше?</h3>
		<p>
			Перейдите в раздел @Html.ActionLink("С чего начать", "GettingStarted") 
			в котором рассказано, как установить систему, как работать с веб-интерфейсом  и
			как написать простой сценарий.
		</p>
	</div>
</div>

<script>

	addListener(document.getElementById('btn-download'), 'click', function () {
		ga('send', 'event', 'btn-download', 'click');
	});

	addListener(document.getElementById('btn-view-source'), 'click', function () {
		ga('send', 'event', 'btn-view-source', 'click');
	});
</script>
