@{
	ViewBag.Title = "Сценарии";
}

<div class="row">
	<div class="col-md-12">
		<h1>Сценарии</h1>
		<p>
			Сценарии - это небольшие программы, которые могут управлять домашними устройствами, 
			вызывая команды плагинов. Сценарий может быть выполнен при наступлении определенного 
			события в системе или может быть вызван из другого сценария. Возможность работы со 
			сценариями обеспечивает специальный плагин "ThinkingHome.Plugins.Scripts".
		</p>
		<p>
			Для написания сценариев используется язык Java Script. В сценариях доступны все
			стандартные средства языка, а также объект <code>host</code>, предоставляющий доступ 
			к инфраструктуре сервиса автоматизации и возможностям плагинов. С его помощью можно писать
			сообщения в лог, вызывать команды плагинов и запускать другие сценарии.
		</p>
		<h3>Создание и редактирование</h3>
		<p>
			Добавлять/удалять сценарии и редактировать их текст можно через web-интерфейс. Для 
			просмотра списка всех сценариев выберите в разделе <em>Settings</em> пункт <em>Scripts</em>. 
			Для начала редактирования сценария книклите кнопку <em>Edit</em> рядом с его названием. 
			Для запуска сценария (например, чтобы проверить его работу) кликните кнопку <em>Run manually</em>.
		</p>
		<div class="row">
			<div class="col-md-4">
				<img class="ths-image img-responsive" src="~/Content/images/script-list.png"
					alt="Список всех сценариев в системе" title="Список всех сценариев в системе" />
			</div>
			<div class="col-md-4">
				<img class="ths-image img-responsive" src="~/Content/images/script-editor.png"
					alt="Редактор сценариев" title="Редактор сценариев" />
			</div>
			<div class="col-md-4">
				<img class="ths-image img-responsive" src="~/Content/images/script-editor-fullscreen.png"
					alt="Полноэкранный режим" title="Полноэкранный режим" />
			</div>
		</div>
		<h3>Подписка на события</h3>
		<p>
			В системе можно настроить автоматический запуск сценариев при наступлении определенных событий.
			Например, срабатывание датчика движения - это событие, нажатие на кнопку - тоже. События генерируются
			плагинами.
		</p>
		<p>
			Информация о том, какой сценарий должен быть выполнен при наступлении какого события, хранятся в системной БД.
			Добавить или удалить обработчики событий можно в разделе <em>Settings &rarr; Event handlers</em>.
		</p>
		<p>
			<img class="ths-image img-responsive" src="~/Content/images/script-event-handlers.png" />
		</p>
		<p>
			События могут иметь параметры, значения которых будут доступны внутри запускаемых сценариев.
			Напрмиер, событие "получена команда от адаптара nooLite RX2164" будет иметь параметры: 
			<em>тип команды</em>, <em>номер канала</em>, <em>данные</em>. Пример обработки параметров 
			сценария, переденных извне, будет приведен позже.
		</p>
		<p>
			Обратите внимание, в списке событий для подписки отображаются не все события плагинов,
			а только те, к которым плагины разрешили доступ для сценариев. Более подробную информацию 
			о доступных событиях смотрите в документации к плагинам. 
		</p>
		<h3>Логирование</h3>
		<p>
			Логирование - важный инструмент, т.к. с его помощью можно получить информацию о
			ходе выполнения сценариев (например, это может быть нужно при их отладке). Данные,
			которые логируются в сценариях, сохраняются в лог плагина "ThinkingHome.Plugins.Scripts".
		</p>
		<p>
			Для записи в лог информационных сообщений используйте метод host.logInfo:
			<code>host.logInfo("Hello, world!")</code>.
			<br />
			Для записи в лог сообщения об ошибке используйте метод host.logError:
			<code>host.logError("plugin is not found!")</code>.<br />
		</p>
		<p>
			Оба метода в качестве первого параметра принимают текст сообщения, а в качестве
			последующих параметров -
			его аргументы. Места добавления аргументов в сообщении можно задать при помощи синтаксиса
			<code>"{1}"</code>,
			где "1" - это номер аргумента (номера начинаются с 0, аналогично методу 
			string.Format в C#).<br />
			Например, добавить в сообщение значение переменных x и y, можно примерно так:	
			<code>host.logError("{0} + {1} = 100500", x, y)</code> (при x = 2 и y = 7 в лог
			будет записана 
			строка "2 + 7 = 100500").
		</p>
		<h3>Вызов методов плагинов из сценариев</h3>
		<p>
			Плагины могут разрешать сценариям выполнять некоторые свои методы. При этом плагины определяют
			<em>имена</em> для методов, доступных сценариям.
			Для вызова метода плагина из сценария используйте команду <code>executeMethod</code> объекта 
			<code>host</code>. В качестве первого аргумента необходимо передать <em>имя метода плагина</em>,
			а в качестве последующих аргументов - его параметры.
		</p>
		<p>
			Например, чтобы при помощи usb-адаптера nooLite выключить свет в 3 канале, нужно
			использовать примерно такой скрипт:
		</p>
		<pre>
	host.executeMethod("nooliteSetLevel", 3, 0);</pre>
		<p>
			Список методов плагинов, которые можно использовать в сценариях, 
			смотрите в документации к плагинам.
		</p>
		<h3>Запуск других сценариев</h3>
		<p>
			Иногда при выполнении сценария может потребоваться запустить другой сценарий. Например,
			сценарий, присматривающий за домом в ваше отсутствие, может запускать сценарий <em>полива цветов</em>
			и сценарий <em>имитации присутствия</em> (имитация присутствия - в комнатах на некоторое время
			иногда включается свет, как будто дома кто-то есть).
		</p>
		<p>
			Для запуска сценария используйте метод <code>runScript</code> объекта <code>host</code>. В качестве
			первого аргумента необходимо передать название запускаемого сценария. Остальные аргументы -
			будут переданы в запускаемый сценарий как входные параметры.
		</p>
		<p>
			Например, следующий код запустит сценарий с именем "myScript" и передаст ему 3 параметра: 
			<code>'qwrqwrqwr22222'</code> (строка), <code>12355</code> (целое число), <code>true</code> (логическое значение).
		</p>
		<pre>
	host.runScript('myScript', 'qwrqwrqwr22222', 12355, true);
</pre>
		<h3>Обработка параметров</h3>
		<p>
			Как мы видели выше, при запуске сценария ему могут быть переданы дополнительные параметры. 
			Внутри сценария можно получить их значения через массив <code>arguments</code>. Ниже приведен 
			пример сценария, который записывает в лог значения всех переданных ему параметров.
			<pre>
	host.logInfo("length = {0}", arguments.length);

	for(var i = 0; i < arguments.length; i++)
	{
		host.logInfo("arguments[{0}] = {1}", i, arguments[i]);
	}
</pre>
		</p>
		<h3>Что дальше?</h3>
		<p>
			Мы подробно рассмотрели написание сценариев и настройку их автоматического запуска
			при возникновении определенных событий. В следующем разделе 
			@Html.ActionLink("Создание плагинов", "Plugins") вы узнаете, как легко писать 
			собственные плагины, с помощью которых вы можете добавить в систему новые события
			или новые команды для сценариев.
		</p>
	</div>
</div>

