@{
	ViewBag.Title = "UiForPlugins";
}

<div class="row">
	<div class="col-md-12">
		<h1>Скачать</h1>

	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<a href="~/Content/files/service-setup.msi" class="btn btn-primary">Скачать</a>
		<span class="help-block">Инсталлятор .msi, 16 МБ</span>
	</div>
	<div class="col-md-3">
		<a href="https://github.com/dima117/thinking-home/archive/master.zip" class="btn btn-default">Скачать исходный код</a>
		<span class="help-block">Находится в <a href="https://github.com/dima117/thinking-home">репозитории</a> на GitHub, 4 МБ
		</span>
	</div>
</div>
<p>
	Для работы системы необходимо предварительно установить на компьютер
		<a href="http://www.microsoft.com/download/details.aspx?id=30653">.NET Framework 4.5</a>
</p>

