@{
	ViewBag.Title = "Разработка UI для плагинов";
}

<div class="row">
	<div class="col-md-12">
		<h1>Разработка UI (пользовательского интерфейса) для плагинов</h1>
		<p>
			
		</p>
	</div>
</div>

