@{
	ViewBag.Title = "UI (пользовательский интерфейс) для плагинов";
}

<div class="row">
	<div class="col-md-12">
		<h1>UI (пользовательский интерфейс) для плагинов</h1>
		<p>
			Как мы видели в разделе о разработке плагинов, стандартный плагин ListenerPlugin дает возможность 
			обрабатывать HTTP запросы (возвращать на клиент файлы из ресурсов или данные в JSON).
			Еще один стандартный плагин WebUIPlugin реализует веб-интерфейс системы.
		</p>
		<p>
			Веб-интерфейс представляет собой что-то вроде панели управления вашим домом. Он состоит из разделов, 
			причем каждый плагин может содержать собственные разделы и они автоматически будут отображаться
			в интерфейсе. Все разделы делятся на 2 группы: <em>системные</em> (различные настройки, например, раздел 
			сценариев) и <em>пользовательские</em> (разделы, с которыми пользователи работают в повседневной 
			жизни, например, "прогноз погоды" и "будильники").
		</p>
		<div class="row">
			<div class="col-md-6">
				<img class="ths-image img-responsive" src="~/Content/images/common-pages.png"
					alt="Список пользовательских разделов" title="Список пользовательских разделов" />
			</div>
			<div class="col-md-6">
				<img class="ths-image img-responsive" src="~/Content/images/system-pages.png"
					alt="Список системных разделов" title="Список системных разделов" />
			</div>
		</div>
		<p>
			Кроме этих "рабочих" разделов имеется еще один специальный раздел — "рабочий стол" 
			(он же "стартовая страничка"). Там находятся "элементы стартовой страницы" — небольшие панели, 
			которые отображают полезную информацию. При клике на них происходит переход в какой-либо раздел
			или выполняется действие. Стартовая страница (как и весь остальной интерфейс) корректно отображается
			как на больших экранах, так и на небольших экранах мобильных устройств.
		</p>
		<div class="row">
			<div class="col-md-3">
				<img class="ths-image img-responsive" src="~/Content/images/start-page-small.png"
					alt="Стартовая страница на маленьком экране" title="Стартовая страница на маленьком экране" />
			</div>
			<div class="col-md-9">
				<img class="ths-image img-responsive" src="~/Content/images/start-page-large.png"
					alt="Стартовая страница на большом экране" title="Стартовая страница на большом экране" />
			</div>
		</div>
		<p>
			Технически, веб-интерфейс представляет собой модульное одностраничное приложение на основе 
			<a href="http://marionettejs.com" target="_blank">marionette.js</a>. Загрузка модулей 
			происходит по мере необходимости с помощью <a href="http://requirejs.org" target="_blank">require.js</a>. 
			Для визуальной части используется <a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a>.
		</p>
		<h2>Добавление нового раздела</h2>
		<p>
		</p>
		<h2>Отображение данных на странице</h2>
		<p>
		</p>
		<h2>События</h2>
		<p>
		</p>
		<h2>Запросы к серверу</h2>
		<p>
		</p>
		<h2>Элементы рабочего стола</h2>
		<p>
		</p>
		<h3>Добавление на рабочий стол</h3>
		<p>
		</p>
		<h3>Иконки</h3>
		<p>
		</p>
		<h3>Действия</h3>
		<p>
		</p>
	</div>
</div>

