.ths-site-header {
	margin: 20px -15px 26px -15px;
}

.ths-site-header > div {
	margin-bottom: 4px;
}


.ths-brand-name {
	height: 40px;
	line-height: 40px;
	font-size: 28px;
	font-family: 'Segoe UI';
    font-weight: 100;
	color: #808080 !important;
	text-decoration: none !important;
}

.ths-brand-name span {
	color: #5d9bd1;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #5d9bd1;
}

.nav-pills > li > a {
	padding: 10px 14px;
}

.jumbotron {
	/*background-color: #5d9bd1;*/
	background-color: #5d9bd1;
	color: #fff;
	margin: 0 -15px 32px -15px;
	padding-top: 36px;
	padding-bottom: 36px;
}

.jumbotron h1 {
	font-size: 48px;
}

.jumbotron .btn {
	margin-bottom: 8px;
}

.ths-index-icon {
	margin-top: 20px;
}

.btn-outline-inverse {
    background-color: transparent;
    border-color: #cdbfe3;
    color: #fff;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	background-color: #fff;
    border-color: #fff;
    color: #5d9bd1;
	-ms-text-shadow: none;
	text-shadow: none;
}

.ths-image {
	border: 1px solid #ddd;
	margin: 40px auto;
}

.ths-social {
	margin-top: 8px;
	margin-right: 4px;
}

@media screen and (max-width: 1199px) {
	.nav-pills {
		max-width: 520px;
	}

	.nav-pills > li {
		width: 160px;
		margin: 1px !important;
	}
}

@media screen and (max-width: 991px) {
	.opened-nav-menu {
		display: block !important;
		margin-top: 8px;
	}

	.opened-nav-menu .nav-pills {
		float: none !important;
	}
}

@media screen and (max-width: 767px) {
	.container .jumbotron {
		-ms-border-radius: 0;
		border-radius: 0;
	}

	.nav-pills > li {
		width: 160px;
		margin: 1px !important;
	}
}