.ths-site-header {
	margin: 20px -15px;
}

.ths-brand-name {
	height: 40px;
	line-height: 40px;
	font-size: 28px;
	font-family: 'Segoe UI';
    font-weight: 100;
	color: #808080 !important;
	text-decoration: none !important;
}

.ths-brand-name span {
	color: #5d9bd1;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #5d9bd1;
}

.jumbotron {
	/*background-color: #5d9bd1;*/
	background-color: #5d9bd1;
	color: #fff;
	margin: 0 -15px;
}

.jumbotron .btn {
	margin-bottom: 8px;
}

.btn-outline-inverse {
    background-color: transparent;
    border-color: #cdbfe3;
    color: #fff;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
    background-color: #fff;
    border-color: #fff;
    color: #5d9bd1;
    text-shadow: none;
}

.ths-image {
	border: 1px solid #ddd;
	margin: 40px auto;
}